<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatars</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./avatar.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@avatars</h2>

      <h3 class="secondary-txt-showcase">--- image avatars</h3>
      <div class="showcase">
        <img src="images/person-1.jpg" class="avatar" alt="" />
        <img src="images/person-2.jpg" class="avatar" alt="" />
        <img src="images/person-3.jpg" class="avatar" alt="" />
      </div>

      <h3 class="secondary-txt-showcase">--- letter avatars</h3>
      <div class="showcase">
        <div class="avatar av-sm av-blue">A</div>
        <div class="avatar av-sm av-pink">B</div>
        <div class="avatar av-sm av-yellow">OP</div>
      </div>

      <h3 class="secondary-txt-showcase">--- icon avatars</h3>
      <div class="showcase">
        <div class="avatar av-sm av-pink"><i class="fab fa-twitter"></i></div>
        <div class="avatar av-sm av-blue"><i class="fab fa-instagram"></i></div>
        <div class="avatar av-sm av-green">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>

      <h3 class="secondary-txt-showcase">--- size avatars</h3>
      <div class="showcase">
        <img class="avatar av-sm" src="images/person-1.jpg" alt="" />
        <img class="avatar" src="images/person-2.jpg" alt="" />
        <img class="avatar av-lg" src="images/person-3.jpg" alt="" />
      </div>
    </section>
  </body>
</html>
