<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typography</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./typography.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2>@typography</h2>

      <h1>
        ---h1 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Quibusdam, quidem.
      </h1>
      <h2>
        ---h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Quibusdam, quidem.
      </h2>
      <h3>
        ---h3 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Quibusdam, quidem.
      </h3>
      <h4>
        ---h4 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Quibusdam, quidem.
      </h4>
      <h5>
        ---h5 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Quibusdam, quidem.
      </h5>
      <h6>
        ---h6 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Quibusdam, quidem.
      </h6>
      <p>
        ---p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
        provident, obcaecati sapiente debitis laborum sit asperiores adipisci
        nam id ad.
      </p>
      <small
        >---small Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Harum, quibusdam?</small
      >

      <h3>--- grey text</h3>
      <p class="grey-txt">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
        provident, obcaecati sapiente debitis laborum sit asperiores adipisci
        nam id ad.
      </p>
      <h3>--- center text</h3>
      <p class="center-txt">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
        provident, obcaecati sapiente debitis laborum sit asperiores adipisci
        nam id ad.
      </p>
    </section>
  </body>
</html>
