<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badges</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./badge.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@Badges</h2>

      <h3 class="secondary-txt-showcase">--- Badge on Avatars</h3>
      <div class="showcase">
        <div class="badge-av">
          <img class="avatar" src="images/person-1.jpg" alt="" />
          <div class="badge green bdg-bttm"></div>
        </div>
        <div class="badge-av">
          <img class="avatar" src="images/person-2.jpg" alt="" />
          <div class="badge yellow bdg-bttm"></div>
        </div>
        <div class="badge-av">
          <img class="avatar" src="images/person-3.jpg" alt="" />
          <div class="badge pink bdg-bttm"></div>
        </div>
      </div>

      <h3 class="secondary-txt-showcase">--- Badge on Icons</h3>
      <div class="showcase">
        <div class="badge-av">
          <div class="badge-icn green bdg-top">10</div>
          <div class="avatar av-green">
            <i class="fas fa-lg fa-bell"></i>
          </div>
        </div>
        <div class="badge-av">
          <div class="badge-icn pink bdg-top">8+</div>
          <div class="avatar av-pink">
            <i class="fas fa-lg fa-heart"></i>
          </div>
        </div>
        <div class="badge-av">
          <div class="badge-icn yellow bdg-top">20</div>
          <div class="avatar av-yellow">
            <i class="fas fa-lg fa-shopping-cart"></i>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
