<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grids</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./grid.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@Simplified Grid</h2>

      <h3 class="secondary-txt-showcase">--- 2x2 Responsive Grid</h3>
      <div class="grid2By2">
        <div class="grid-items dk-pink"><p>One</p></div>
        <div class="grid-items dk-blue"><p>Two</p></div>
        <div class="grid-items dk-yellow"><p>Three</p></div>
        <div class="grid-items dk-green"><p>Four</p></div>
        <div class="grid-items lt-blue"><p>Five</p></div>
        <div class="grid-items lt-pink"><p>Six</p></div>
        <div class="grid-items lt-green"><p>Seven</p></div>
        <div class="grid-items lt-yellow"><p>Eight</p></div>
        <div class="grid-items primary"><p>Nine</p></div>
        <div class="grid-items body-color"><p>Ten</p></div>
        <div class="grid-items secondary"><p>Eleven</p></div>
        <div class="grid-items tertiary"><p>Twelve</p></div>
      </div>

      <h3 class="secondary-txt-showcase">--- 3x3 Responsive Grid</h3>
      <div class="grid">
        <div class="grid-items dk-pink"><p>One</p></div>
        <div class="grid-items dk-blue"><p>Two</p></div>
        <div class="grid-items dk-yellow"><p>Three</p></div>
        <div class="grid-items dk-green"><p>Four</p></div>
        <div class="grid-items lt-blue"><p>Five</p></div>
        <div class="grid-items lt-pink"><p>Six</p></div>
        <div class="grid-items lt-green"><p>Seven</p></div>
        <div class="grid-items lt-yellow"><p>Eight</p></div>
        <div class="grid-items primary"><p>Nine</p></div>
        <div class="grid-items body-color"><p>Ten</p></div>
        <div class="grid-items secondary"><p>Eleven</p></div>
        <div class="grid-items tertiary"><p>Twelve</p></div>
      </div>
    </section>
  </body>
</html>
