@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("./components/Alerts/alert.css");
@import url("./components/Avatars/avatar.css");
@import url("./components/Badges/badge.css");
@import url("./components/Buttons/button.css");
@import url("./components/Cards/card.css");
@import url("./components/Colors/color.css");
@import url("./components/grid/grid.css");
@import url("./components/Images/images.css");
@import url("./components/Inputs/inputs.css");
@import url("./components/List/lists.css");
@import url("./components/Modals/modals.css");
@import url("./components/Navbar/navbar.css");
@import url("./components/Ratings/ratings.css");
@import url("./components/Toast/toast.css");
@import url("./components/Typography/typography.css");
@import url("./components/Util/util.css");
@import url("./components/mediaqueries.css");

*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #09d3ac;
  --secondary-color: #c6f2d6;
  --tertiary-color: #f3f4f6;
  --body-color: #f0f8ff;
  --white-color: #fff;
  --grey-color: #9ca3af;
  --lt-blue: #adeef1;
  --dk-blue: #11a8d5;
  --lt-green: #d1fae5;
  --dk-green: #10b981;
  --lt-pink: #fbcfe8;
  --dk-pink: #f50057;
  --lt-yellow: #fef3c7;
  --dk-yellow: #fbbf24;
  --primary-box-shadow: 8px 8px 16px #dfe7ed, -8px -8px 16px #ffffff;
  --secondary-box-shadow: 2px 4px 20px -1px rgb(0 0 0 / 3%),
    -1px -2px 20px -1px rgb(0 0 0 / 3%);
  --tertiary-box-shadow: 6.61px 6.61px 9px #e6eef5, -6.61px -6.61px 9px #faffff;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Work Sans", sans-serif; */
  font-family: "Varela Round", sans-serif;
}

/* Utils

.showcase {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.primary-txt-showcase {
  margin: 1rem 0 0;
}

.secondary-txt-showcase {
  margin: 1rem 0;
}

.sect {
  margin: 1rem;
  padding: 1rem;
}

.primary {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.secondary {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border: 2px solid var(--primary-color);
}

.tertiary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
}

.green {
  background-color: var(--dk-green);
  color: var(--lt-green);
}

.sec-green {
  border: 2px solid var(--dk-green);
  color: var(--dk-green);
  background-color: var(--lt-green);
}

.tri-green {
  border: 2px solid var(--dk-green);
  background-color: var(--white-color);
  color: var(--dk-green);
}

.blue {
  background-color: var(--dk-blue);
  color: var(--lt-blue);
}

.sec-blue {
  color: var(--dk-blue);
  background-color: var(--lt-blue);
  border: 2px solid var(--dk-blue);
}

.tri-blue {
  border: 2px solid var(--dk-blue);
  background-color: var(--white-color);
  color: var(--dk-blue);
}

.pink {
  background-color: var(--dk-pink);
  color: var(--lt-pink);
}

.sec-pink {
  border: 2px solid var(--dk-pink);
  color: var(--dk-pink);
  background-color: var(--lt-pink);
}

.tri-pink {
  border: 2px solid var(--dk-pink);
  background-color: var(--white-color);
  color: var(--dk-pink);
}

.yellow {
  background-color: var(--dk-yellow);
  color: var(--lt-yellow);
}

.sec-yellow {
  border: 2px solid var(--dk-yellow);
  color: var(--dk-yellow);
  background-color: var(--lt-yellow);
}

.tri-yellow {
  border: 2px solid var(--dk-yellow);
  background-color: var(--white-color);
  color: var(--dk-yellow);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
} */

/* Typography 

h1 {
  font-size: 2rem;
  font-weight: 750;
  padding: 1rem 0;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0.8rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.4rem 0;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem 0;
}

h6 {
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.2rem 0;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.2rem 0;
}

small {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.1rem 0;
}

.wht-txt {
  color: var(--white-color);
}

.grey-txt {
  color: var(--grey-color);
}

.center-txt {
  text-align: center;
} */

/* Avatar
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
}

.av-sm {
  width: 40px;
  height: 40px;
}

.av-md {
  width: 60px;
  height: 60px;
}

.av-lg {
  width: 90px;
  height: 90px;
}

.av-blue {
  background-color: var(--lt-blue);
  color: var(--dk-blue);
}

.av-green {
  background-color: var(--lt-green);
  color: var(--dk-green);
}

.av-yellow {
  background-color: var(--lt-yellow);
  color: var(--dk-yellow);
}

.av-pink {
  background-color: var(--lt-pink);
  color: var(--dk-pink);
} */

/* alert
.alert {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  max-width: fit-content;
  border-radius: 0.6rem;
  box-shadow: var(--primary-box-shadow);
}

.al-error {
  background-color: var(--lt-pink);
  color: var(--dk-pink);
  border: 2px solid var(--dk-pink);
}

.al-warning {
  background-color: var(--lt-yellow);
  color: var(--dk-yellow);
  border: 2px solid var(--dk-yellow);
}

.al-info {
  background-color: var(--lt-blue);
  color: var(--dk-blue);
  border: 2px solid var(--dk-blue);
}

.al-success {
  background-color: var(--lt-green);
  color: var(--dk-green);
  border: 2px solid var(--dk-green);
} */

/* badges
.badge-av {
  position: relative;
}

.badge-icn {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0.85rem;
}

.bdg-bttm {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
}

.bdg-top {
  position: absolute;
  top: -0.3rem;
  display: flex;
  right: -0.2rem;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

.badge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
} */

/* buttons */
/* .btn {
  outline: none;
  padding: 0.8rem 1rem;
  font-size: large;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: var(--primary-box-shadow);
} */

/* .btn-primary {
  color: var(--white-color);
  border: none;
} */

/* links */
/* .link {
  outline: none;
  font-size: large;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  margin: 0.5rem 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  box-shadow: var(--primary-box-shadow);
}

.link-primary {
  color: var(--white-color);
} */

/* icon buttons */
/* .btn-icn-primary {
  color: var(--white-color);
  border: none;
} */

/* floating action button */
/* .floating-act {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--primary-box-shadow);
  outline: none;
}

.flt-pri {
  border: none;
}


.flt-tri {
  border: none;
} */

/* card */
/* 
.card {
  margin: 1rem 2rem;
  max-width: 300px;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--secondary-box-shadow);
}

.card-badge {
}

.bdge-sm {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.2rem 0;
  top: 2rem;
  width: 100px;
  padding: 0.3rem;
  clip-path: polygon(0% 0%, 71% 0%, 53% 50%, 69% 97%, 0 97%);
}

.bgde-lg:after {
  content: "Most Popular";
  font-size: 0.8rem;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  width: 120px;
  background-color: var(--dk-pink);
  color: var(--lt-pink);
  display: block;
  position: absolute;
  top: 1.6rem;
  right: -1.5rem;
  clip-path: polygon(
    120px 20px,
    90px -10px,
    30px -10px,
    0px 20px,
    10px 30px,
    110px 30px
  );
}

.bdge-cl {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  box-shadow: none;
}

.card-img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  max-width: 300px;
}

.card-info {
  padding: 1rem;
}

.card-info-para {
  padding: 1rem 0;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-horztl-cart {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
  max-width: 550px;
  box-shadow: var(--secondary-box-shadow);
}

.atn-btns {
  display: flex;
  justify-content: space-around;
}

.card-horztl-cart .btn-card {
  width: 45%;
  box-shadow: none;
}

.card-details-horztl {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card > .btn-card {
  width: 100%;
  border-radius: 0.5rem;
}

.card-horztl {
  display: flex;
  max-width: 500px;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}

.card-horztl-img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 0.5rem;
}

.card-quant {
  display: flex;
  gap: 1rem;
  position: relative;
  align-items: baseline;
}

.card-quant > button {
  position: initial;
}

.card-ovlay {
  position: relative;
  border-radius: 1rem;
}

.card-ovlay > .img-ovlay {
  opacity: 0.7;
  border-radius: 1rem;
}

.txt-ovlay {
  position: absolute;
}

.card-ovlay > small {
  top: 0.8rem;
  font-weight: 500;
  left: 1rem;
}

.card-ovlay > p {
  top: 43%;
  right: 25%;
} */

/* Inputs */
/* .input {
  position: relative;
}

.input-txt,
.input-txt-error,
.input-txt-warning {
  font-size: 14px;
  outline: none;
  width: 100%;
  resize: none;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 300px;
  box-shadow: var(--tertiary-box-shadow);
}

.input-txt-error {
  border: 2px solid var(--dk-pink);
}
.input-txt-warning {
  border: 2px solid var(--dk-yellow);
}

.input-txt:hover {
  box-shadow: 0 0 0.3rem var(--primary-color);
}

.input-txt-error:hover {
  box-shadow: 0 0 0.3rem var(--dk-pink);
}

.input-txt-warning:hover {
  box-shadow: 0 0 0.3rem var(--dk-yellow);
}

.flt-label,
.flt-label-error,
.flt-label-warning {
  position: absolute;
  pointer-events: none;
  left: 35px;
  top: 31px;
  transition: 0.2s ease all;
  color: var(--primary-color);
}

.flt-label-warning {
  color: var(--dk-yellow);
}

.flt-label-error {
  color: var(--dk-pink);
}

input:focus ~ .flt-label-error,
input:not(:focus):valid ~ .flt-label-error,
input:focus ~ .flt-label-warning,
input:not(:focus):valid ~ .flt-label-warning {
  top: 77px;
  left: 20px;
  font-size: 15px;
  opacity: 1;
}

input:focus ~ .flt-label,
input:not(:focus):valid ~ .flt-label {
  top: -5px;
  bottom: 10px;
  left: 20px;
  font-size: 15px;
  opacity: 1;
}

.input-txtarea {
  font-size: 14px;
  outline: none;
  width: 100%;
  resize: none;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 300px;
  box-shadow: var(--tertiary-box-shadow);
}

textarea:focus ~ .flt-label,
textarea:not(:focus):valid ~ .flt-label {
  top: -5px;
  bottom: 10px;
  left: 20px;
  font-size: 15px;
  opacity: 1;
} */

/* Images
.img-res {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.img-cir {
  width: 100%;
  max-width: 270px;
  height: auto;
  border-radius: 50%;
} */
/* 
Toast .toast {
  padding: 1rem;
  max-width: fit-content;
  border-radius: 0.6rem;
  box-shadow: var(--primary-box-shadow);
}

.tl-error {
  background-color: var(--lt-pink);
  color: var(--dk-pink);
}

.tl-warning {
  background-color: var(--lt-yellow);
  color: var(--dk-yellow);
}

.tl-info {
  background-color: var(--lt-blue);
  color: var(--dk-blue);
}

.tl-success {
  background-color: var(--lt-green);
  color: var(--dk-green);
}

.tl-content-error {
  border-left: 3px solid var(--dk-pink);
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  align-items: center;
}

.toast-lg {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  max-width: 500px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--primary-box-shadow);
} */

/* Loader */

/* ::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
} */

/* List
.ul-list {
  padding: 2rem;
}

.list-item {
  font-size: 1.7rem;
  margin: 0.5rem 0;
  padding: 1rem;
  border-left: 3px solid var(--dk-blue);
  border-radius: 0 1rem;
}

.list-item:hover {
  background-color: var(--lt-blue);
  box-shadow: 4px 5px 3px #8b8b8b70, -9.91px -9.91px 15px #f3f4f6;
  cursor: pointer;
}

.ul-stacked-list {
  border: 1px solid var(--dk-blue);
}

.stacked-list-item {
  padding: 1rem;
  border: 2px solid var(--dk-blue);
  border-bottom: 1px;
}

.stacked-list-item:hover {
  background-color: var(--lt-blue);
  border: 1px solid var(--dk-blue);
  cursor: pointer;
}

.list-content:hover {
  padding-left: 1rem;
  border-left: 3px solid var(--dk-blue);
}

.stacked-list-item-ic {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  padding: 1rem;
} */

/* navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--white-color);
  border-radius: 0 0 1rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo-img {
  width: 50px;
  border-radius: 50%;
}

.logo-txt {
  font-size: xx-large;
  font-weight: 400;
  color: var(--dk-pink);
}

.header-nav-ul {
  display: flex;
}

.nav-list-item {
  padding: 1rem;
}

.nav-list-item > a {
  font-size: larger;
  position: relative;
  display: inline;
  color: #000;
  transition: all 0.3s linear;
}

.header-nav-ul li a:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #52d1da;
  transition: width 0.3s;
}

.header-nav-ul li a:after {
  content: "";
  margin-top: 0.5rem;
  display: block;
  width: 0;
  height: 2px;
  background: #52d1da;
  transition: width 0.3s;
}

.nav-icons {
  display: flex;
  gap: 2rem;
} */

/* Modals 
.modal {
  background-color: var(--white-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  max-width: 500px;
  width: 100%;
  box-shadow: var(--secondary-box-shadow);
}

.modal-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal > .actn-btns {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
} */

/* Ratings

.star-ratings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checked {
  color: var(--dk-yellow);
}

.bdge-ratings {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: max-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
} */

/* Grids

.grid {
  max-width: 1200px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid2By2 {
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  display: grid;
  grid-gap: 1rem;
}

.grid-items {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.grid-items > p {
  color: #000;
  font-size: x-large;
}

.dk-pink {
  background-color: var(--dk-pink);
}

.dk-yellow {
  background-color: var(--dk-yellow);
}

.dk-blue {
  background-color: var(--dk-blue);
}

.dk-green {
  background-color: var(--dk-green);
}

.lt-pink {
  background-color: var(--lt-pink);
  border: 2px solid var(--dk-pink);
}
.lt-yellow {
  background-color: var(--lt-yellow);
  border: 2px solid var(--dk-yellow);
}
.lt-blue {
  background-color: var(--lt-blue);
  border: 2px solid var(--dk-blue);
}
.lt-green {
  background-color: var(--lt-green);
  border: 2px solid var(--dk-green);
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.tertiary {
  background-color: var(--tertiary-color);
  border: 2px solid var(--grey-color);
}

.body-color {
  background-color: var(--body-color);
  border: 2px solid var(--dk-blue);
} */
/* 
@media (max-width: 600px) {
  .showcase {
    margin: 0;
    flex-direction: column;
  }

  .card-horztl {
    flex-direction: column;
  }

  .card-horztl-img {
    max-width: 290px;
    max-height: 270px;
  }

  .grid2By2 {
    grid-template-columns: 1fr;
  }

  .atn-btns {
    flex-direction: column;
    gap: 1rem;
  }
  .card-horztl-cart .btn-card {
    width: 100%;
    box-shadow: none;
  }

  .navbar {
    flex-direction: column;
  }

  .header-nav-ul {
    display: flex;
    flex-direction: column;
  }

  .modal > .actn-btns {
    gap: 1rem;
    flex-direction: column;
  }
} */
