body {
  display: grid;
  grid-template-areas:
    "head head"
    "nav main"
    "nav main";
  grid-template-rows: 95px 1fr;
  grid-template-columns: 230px 1fr;
  overflow-x: hidden;
}

body > header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  padding: 0 5% 0 17%;
  min-width: 90%;
  position: relative;
  gap: 3rem;
  align-items: center;
  background-color: var(--white-color);
}

body > nav {
  grid-area: nav;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 1.3rem 1rem 0 2rem;
  background-color: #ffffff;
}

body > main {
  grid-area: main;
  border-radius: 1.5rem 0 0 0;
  padding: 2rem 10% 0;
  background-color: var(--body-color);
}

.sections {
  margin: 1rem 2rem;
}

.showcomp {
  padding: 1rem 3rem;
}

.column-av {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.column {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* align-items: center; */
}

.row-av {
  display: flex;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 2rem;
  /* justify-content: space-evenly; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo-txt {
  font-size: xx-large;
  font-weight: 400;
  color: var(--dk-pink);
  font-family: "Varela Round", sans-serif;
}

.header-navigation {
  flex: 2;
}

.comp-nav ul {
  padding: 3rem 0;
}

.comp-nav ul li {
  padding: 0.2rem;
}

.comp-nav ul li:hover {
  padding: 0.5rem;
  background-color: var(--body-color);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.comp-nav ul li a {
  font-size: large;
  color: #000;
}

.comp-nav ul li a {
  width: 100%;
}
/* 
.comp-nav ul li a:hover:before {
  width: 100%;
}

.comp-nav ul li a:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #52d1da;
  transition: width 0.3s;
} */

.comp-nav ul li a:hover:after {
  width: 100%;
}

.comp-nav ul li a:after {
  content: "";
  margin-top: 0.5rem;
  display: block;
  width: 0;
  height: 2px;
  background: #52d1da;
  transition: width 0.3s;
}

.header-navigation ul {
  display: flex;
  justify-content: flex-start;
}

.header-navigation li {
  /* display: inline; */
  padding: 1rem;
}

.header-navigation li a {
  font-size: larger;
  position: relative;
  display: inline;
  color: #000;
  transition: all 0.3s linear;
}

.header-navigation li a:hover:before {
  width: 100%;
}

.header-navigation li a:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #52d1da;
  transition: width 0.3s;
}

.header-navigation li a:hover:after {
  width: 100%;
}

.header-navigation li a:after {
  content: "";
  margin-top: 0.5rem;
  display: block;
  width: 0;
  height: 2px;
  background: #52d1da;
  transition: width 0.3s;
}

.connect li {
  display: inline;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.connect li:hover {
  background-color: var(--body-color);
  transition: all 0.3s ease;
}

.connect li a {
  font-size: larger;
  color: #000;
}

.install-code {
  background-color: var(--white-color);
  font-size: x-large;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.sec-txt {
  font-size: 1.4rem;
}

.features {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
}

.feature {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 2rem 1rem 2rem;
  border-radius: 1rem 1rem 0 0;
  margin: 4rem 0 0;
}

.footer-list {
  display: flex;
  gap: 1rem;
}

.pink-txt {
  color: var(--dk-pink);
}

.pink-txt:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer-list > li {
  font-size: small;
}

.footer-list a {
  color: #000;
}
