<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./button.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@Buttons</h2>

      <h3 class="secondary-txt-showcase">--- primary button</h3>
      <button class="btn btn-primary green">Primary Button</button>
      <h3 class="secondary-txt-showcase">--- secondary button</h3>
      <button class="btn btn-secondary sec-green">Secondary Button</button>
      <h3 class="secondary-txt-showcase">--- tertiary button</h3>
      <button class="btn btn-tertiary tri-green">Tertiary button</button>

      <h2 class="primary-txt-showcase">@Links</h2>

      <h3 class="secondary-txt-showcase">--- primary link</h3>
      <a href="#" class="link link-primary pink">Primary Link</a>
      <h3 class="secondary-txt-showcase">--- secondary link</h3>
      <a href="#" class="link link-secondary sec-pink">Secondary Link</a>
      <h3 class="secondary-txt-showcase">--- tertiary link</h3>
      <a href="#" class="link link-tertiary tri-pink">Tertiary Link</a>

      <h2 class="primary-txt-showcase">@Icon with Text Button</h2>

      <h3 class="secondary-txt-showcase">--- primary button</h3>
      <button class="btn btn-icn-primary blue">
        <i class="fas fa-heart"></i>
        Primary Button
      </button>
      <h3 class="secondary-txt-showcase">--- secondary button</h3>
      <button class="btn btn-icn-secondary sec-blue">
        <i class="fas fa-shopping-cart"></i>
        Secondary Button
      </button>
      <h3 class="secondary-txt-showcase">--- tertiary button</h3>
      <button class="btn btn-icn-tertiary tri-blue">
        <i class="fab fa-twitter"></i>
        Tertiary button
      </button>

      <h2 class="primary-txt-showcase">@Floating Action Button</h2>

      <h3 class="secondary-txt-showcase">--- primary floating action button</h3>
      <button class="floating-act floating-pri yellow">
        <i class="fas fa-lg fa-plus"></i>
      </button>

      <h3 class="secondary-txt-showcase">
        --- secondary floating action button
      </h3>
      <button class="floating-act flt-sec sec-pink">
        <i class="fas fa-lg fa-plus"></i>
      </button>

      <h3 class="secondary-txt-showcase">
        --- tertiary floating action button
      </h3>
      <button class="floating-act flt-tri sec-blue">
        <i class="fas fa-lg fa-plus"></i>
      </button>
    </section>
  </body>
</html>
