<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./navbar.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@Navbar</h2>

      <h3>--- Simple Navbar</h3>
      <header class="navbar">
        <div class="logo">
          <a href="/"
            ><img class="logo-img" src="./images/preCodes.png" alt="Logo"
          /></a>
          <a href="/"><p class="logo-txt">preKit</p></a>
        </div>

        <nav class="header-nav">
          <ul class="header-nav-ul">
            <li class="nav-list-item"><a>Getting Started</a></li>
            <li class="nav-list-item"><a>Foundation</a></li>
            <li class="nav-list-item"><a>Components</a></li>
            <li class="nav-list-item"><a>Resources</a></li>
          </ul>
        </nav>
      </header>

      <h3>--- Simple Navbar with Icons</h3>
      <header class="navbar">
        <div class="logo">
          <a href="/"
            ><img class="logo-img" src="./images/preCodes.png" alt="Logo"
          /></a>
          <a href="/"><p class="logo-txt">preKit</p></a>
        </div>

        <nav class="header-nav">
          <ul class="header-nav-ul">
            <li class="nav-list-item"><a>Getting Started</a></li>
            <li class="nav-list-item"><a>Foundation</a></li>
            <li class="nav-list-item"><a>Components</a></li>
            <li class="nav-list-item"><a>Resources</a></li>
          </ul>
        </nav>

        <nav>
          <ul class="nav-icons">
            <li>
              <div class="badge-av">
                <div class="badge-icn pink bdg-top">8+</div>
                <div class="avatar av-pink">
                  <i class="fas fa-lg fa-heart"></i>
                </div>
              </div>
            </li>
            <li>
              <div class="badge-av">
                <div class="badge-icn yellow bdg-top">20</div>
                <div class="avatar av-yellow">
                  <i class="fas fa-lg fa-shopping-cart"></i>
                </div>
              </div>
            </li>
            <li>
              <img src="images/person-1.jpg" class="avatar" alt="" />
            </li>
          </ul>
        </nav>
      </header>
    </section>
  </body>
</html>
