.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--white-color);
  border-radius: 0 0 1rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo-img {
  width: 50px;
  border-radius: 50%;
}

.logo-txt {
  font-size: xx-large;
  font-weight: 400;
  color: var(--dk-pink);
}

.header-nav-ul {
  display: flex;
}

.nav-list-item {
  padding: 1rem;
}

.nav-list-item > a {
  font-size: larger;
  position: relative;
  display: inline;
  color: #000;
  transition: all 0.3s linear;
}

.header-nav-ul li a:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #52d1da;
  transition: width 0.3s;
}

.header-nav-ul li a:after {
  content: "";
  margin-top: 0.5rem;
  display: block;
  width: 0;
  height: 2px;
  background: #52d1da;
  transition: width 0.3s;
}

.nav-icons {
  display: flex;
  gap: 2rem;
}
