<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toasts</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./toast.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@Toast</h2>

      <h3 class="secondary-txt-showcase">--- Simple Toast</h3>
      <div class="toast tl-error">
        <div class="tl-content-error">
          <i class="fas fa-exclamation-circle"></i>
          <p>This is a message</p>
        </div>
      </div>

      <h3 class="secondary-txt-showcase">--- Toast with Title</h3>
      <div class="toast-lg tl-info">
        <i class="fas fa-lg fa-lightbulb"></i>
        <div>
          <h3>What a Great Idea!</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            expedita esse nihil quia quis fugit rerum similique beatae? Placeat,
            rem!
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
