@media (max-width: 600px) {
  .showcase {
    margin: 0;
    flex-direction: column;
  }

  .card-horztl {
    flex-direction: column;
  }

  .card-horztl-img {
    max-width: 290px;
    max-height: 270px;
  }

  .grid2By2 {
    grid-template-columns: 1fr;
  }

  .atn-btns {
    flex-direction: column;
    gap: 1rem;
  }
  .card-horztl-cart .btn-card {
    width: 100%;
    box-shadow: none;
  }

  .navbar {
    flex-direction: column;
  }

  .header-nav-ul {
    display: flex;
    flex-direction: column;
  }

  .modal > .actn-btns {
    gap: 1rem;
    flex-direction: column;
  }
}
