<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lists</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./lists.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@List</h2>

      <h3 class="secondary-txt-showcase">--- Simple List</h3>

      <ul class="ul-list">
        <li class="list-item">First Item</li>
        <li class="list-item">Second Item</li>
        <li class="list-item">Third Item</li>
        <li class="list-item">Fourth Item</li>
      </ul>

      <h3 class="secondary-txt-showcase">--- Stacked List</h3>

      <ul class="ul-stacked-list">
        <li class="stacked-list-item">
          <div class="list-content">
            <h3>This is a list heading 1</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae, fugiat. Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Ipsum, quaerat.
            </p>
            <small>This is a small text</small>
          </div>
        </li>
        <li class="stacked-list-item">
          <div class="list-content">
            <h3>This is a list heading 2</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae, fugiat. Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Ipsum, quaerat.
            </p>
            <small>This is a small text</small>
          </div>
        </li>
        <li class="stacked-list-item">
          <div class="list-content">
            <h3>This is a list heading 3</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae, fugiat. Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Ipsum, quaerat.
            </p>
            <small>This is a small text</small>
          </div>
        </li>
        <li class="stacked-list-item">
          <div class="list-content">
            <h3>This is a list heading 4</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae, fugiat. Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Ipsum, quaerat.
            </p>
            <small>This is a small text</small>
          </div>
        </li>
      </ul>

      <h3 class="secondary-txt-showcase">--- Stacked List with Icon</h3>

      <ul class="ul-stacked-list">
        <li class="stacked-list-item">
          <div class="stacked-list-item-ic">
            <i class="fas fa-lg fa-lightbulb"></i>
            <div class="list-content">
              <h3>This is a list heading 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae, fugiat. Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Ipsum, quaerat.
              </p>
              <small>This is a small text</small>
            </div>
          </div>
        </li>
        <li class="stacked-list-item">
          <div class="stacked-list-item-ic">
            <i class="fas fa-lg fa-lightbulb"></i>
            <div class="list-content">
              <h3>This is a list heading 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae, fugiat. Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Ipsum, quaerat.
              </p>
              <small>This is a small text</small>
            </div>
          </div>
        </li>
        <li class="stacked-list-item">
          <div class="stacked-list-item-ic">
            <i class="fas fa-lg fa-lightbulb"></i>
            <div class="list-content">
              <h3>This is a list heading 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae, fugiat. Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Ipsum, quaerat.
              </p>
              <small>This is a small text</small>
            </div>
          </div>
        </li>
        <li class="stacked-list-item">
          <div class="stacked-list-item-ic">
            <i class="fas fa-lg fa-lightbulb"></i>
            <div class="list-content">
              <h3>This is a list heading 1</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae, fugiat. Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Ipsum, quaerat.
              </p>
              <small>This is a small text</small>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
