<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colors</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./color.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <div id="colors" class="sections">
      <h1>Colors</h1>
      <p>
        Convey meaning through color with a handful of color utility classes.
      </p>
      <div class="showcomp">
        <h3 class="secondary-txt-showcase">@Primary Colors</h3>
        <div class="row-av">
          <div class="color dk-pink"></div>
          <div class="color dk-blue"></div>
          <div class="color dk-yellow"></div>
          <div class="color dk-green"></div>
        </div>
        <h3 class="secondary-txt-showcase">@Secondary Colors</h3>
        <div class="row-av">
          <div class="color lt-pink"></div>
          <div class="color lt-blue"></div>
          <div class="color lt-yellow"></div>
          <div class="color lt-green"></div>
        </div>

        <h3 class="secondary-txt-showcase">@Utility Colors</h3>
        <div class="row-av">
          <div class="color primary"></div>
          <div class="color secondary"></div>
          <div class="color tertiary"></div>
          <div class="color body-color"></div>
        </div>
      </div>
    </div>
  </body>
</html>
