<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alerts</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./alert.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@alerts</h2>

      <h3 class="secondary-txt-showcase">--- error alert</h3>
      <div class="alert al-error">
        <i class="fas fa-exclamation-circle"></i>
        <p>This is an error alert — check it out!</p>
        <i class="fas fa-times"></i>
      </div>

      <h3 class="secondary-txt-showcase">--- warning alert</h3>
      <div class="alert al-warning">
        <i class="fas fa-exclamation-triangle"></i>
        <p>This is an warning alert — check it out!</p>
        <i class="fas fa-times"></i>
      </div>

      <h3 class="secondary-txt-showcase">--- info alert</h3>
      <div class="alert al-info">
        <i class="fas fa-info-circle"></i>
        <p>This is an info alert — check it out!</p>
        <i class="fas fa-times"></i>
      </div>

      <h3 class="secondary-txt-showcase">--- success alert</h3>
      <div class="alert al-success">
        <i class="fas fa-check-circle"></i>
        <p>This is an success alert — check it out!</p>
        <i class="fas fa-times"></i>
      </div>
    </section>
  </body>
</html>
