<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modals</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./modals.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@Modals</h2>

      <h3 class="secondary-txt-showcase">--- Simple Modal</h3>

      <div class="modal">
        <div class="modal-header">
          <span><i class="fas fa-lg fa-exclamation-triangle"></i></span>
          <h3>Are you sure you want to Submit?</h3>
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora
          illum necessitatibus officia fugiat repudiandae! Tempore nihil
          recusandae aperiam dolor facere.
        </p>
        <div class="actn-btns">
          <button class="btn btn-tertiary tri-green">Tertiary button</button>
          <button class="btn btn-primary green">Primary Button</button>
        </div>
      </div>
    </section>
  </body>
</html>
