<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inputs</title>
    <link rel="stylesheet" href="../Util/util.css" />
    <link rel="stylesheet" href="./inputs.css" />
    <link rel="stylesheet" href="../mediaqueries.css" />
  </head>
  <body>
    <section class="sect">
      <h2 class="primary-txt-showcase">@Inputs</h2>

      <h3 class="secondary-txt-showcase">--- input text</h3>
      <div class="input">
        <input type="text" class="input-txt" required />
        <span class="flt-label"><i class="fas fa-user"></i> Your Name</span>
      </div>

      <h3 class="secondary-txt-showcase">--- input text error</h3>
      <div class="input">
        <input type="text" class="input-txt-error" required />
        <span class="flt-label-error"
          ><i class="fas fa-exclamation-circle"></i> Your Name</span
        >
      </div>

      <h3 class="secondary-txt-showcase">--- input text warning</h3>
      <div class="input">
        <input type="text" class="input-txt-warning" required />
        <span class="flt-label-warning"
          ><i class="fas fa-exclamation-triangle"></i> Your Name</span
        >
      </div>

      <h3 class="secondary-txt-showcase">--- textarea</h3>
      <div class="input">
        <textarea class="input-txtarea" cols="20" rows="10" required></textarea>
        <span class="flt-label">Please enter a description</span>
      </div>
    </section>
  </body>
</html>
